#nav {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--inline-space);
  padding: var(--block-space);
  pointer-events: auto;
  position: relative;
  width: 100%;

  .room--current {
    justify-content: flex-start;
    max-inline-size: none;
    min-inline-size: 0;
    width: auto;
    flex: 1 1 auto;
  }

  .btn {
    max-inline-size: 100%;
  }

  .btn:not(.room--current) {
    align-self: center;
  }
}

#nav .nav__room-header {
  align-items: center;
  display: flex;
  gap: var(--inline-space);
  width: 100%;
}

#nav .nav__room-settings {
  --btn-border-radius: 50%;
  --btn-padding: 0;

  aspect-ratio: 1;
  flex: 0 0 auto;
  block-size: var(--btn-size);
  inline-size: var(--btn-size);
  justify-content: center;
}

.skip-navigation {
  --left-offset: -999em;

  inset-block-start: 4rem;
  inset-inline-start: var(--left-offset);
  position: absolute;
  white-space: nowrap;
  z-index: 11;

  &:focus {
    --left-offset: var(--inline-space);
  }
}
